body {
	width: 1000px
	}
	
@font-face {
	font-family: QuaverSerif;
	src: url('QuaverSerif.otf');
}

/* 
Uses css3's opacity property to set a delay on appearence of various items. This transform will keep things "invisible" until they are called, and they will appear relatively quickly regardless of the animation length. 
*/
@-webkit-keyframes txt {
	0%{-webkit-transform:scale(1);opacity:0;}
	90%{-webkit-transform:scale(1);opacity:0;}
	100%{-webkit-transform:scale(1);opacity:1;}
	}
	
/*
This animation is a variant delay; I can store images and blocks of text "offstage" --outside of the page/frame area-- until they are required. Reuse of this block is simply a matter of adjusting the directions and distances.
*/
@-webkit-keyframes outr {
    from {
   	 top: 3000px;
   	 }
    to {
   	 top: 520px;
   	 }
    }
	
img {
	position:absolute;
	width:960px; height:640px;
	left:0;
	top:0;
	z-index:0;
	}
	

img.talk1 {
	-webkit-animation-name: txt;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:ease-in-out;
	position:absolute;
	width:350px; height:219px;
	left:300px;
	top:33px;
	z-index:1;
	}
	
img.talk2 {
	-webkit-animation-name: txt;
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:ease-in-out;
	position:absolute;
	width:500px; height:272px;
	left:280px;
	top:330px;
	z-index:1;
	}
	
img.homepage {
	-webkit-animation-name: txt;
	-webkit-animation-duration:16s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:ease-in-out;
	position:absolute;
	width:300px; height:300px;
	left:700px;
	top:500px;
	z-index:1;
	border:0;
	}
		
p.intro {
	position:absolute;
	background-color: rgba(208,209,189,.6);
	padding:1.2em;
	width:280px;
	margin:-1.4em 2em 1em 2em;
	font-family: QuaverSerif, Helvetica, Verdana, sans-serif;
	font-size:18px;
	line-height:1.4em;
    left:-20px;
    top:13.8px;
    z-index:1;
	}
	
p.outro {
	-webkit-animation-name: outr;
	-webkit-animation-duration:28s;
	-webkit-animation-iteration-count:1;
	position:absolute;
	background-color: rgba(208,209,189,.6);
	padding:1.2em;
	width:380px;
	margin:-1.4em 2em 1em 2em;
	font-family: QuaverSerif, Helvetica, Verdana, sans-serif;
	font-size:18px;
	line-height:1.4em;
    left:470px;
    top:520px;
    z-index:1;
	}
	
a {
    color:#ce614a;
    }
